* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #222;
}

/* Navbar */
header {
    background: #111;
    padding: 15px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: #fff;
    font-size: 26px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Home Section */
.home-section {
    background: linear-gradient(#111, #444);
    color: white;
    padding: 100px 40px;
    text-align: center;
}

.home-section h1 span {
    color: #00eaff;
}

.btn {
    display: inline-block;
    background: #00eaff;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    color: #000;
    border-radius: 4px;
}

/* About Section */
.about-section {
    padding: 60px 40px;
    text-align: center;
    background: white;
}

.about-section p {
    width: 70%;
    margin: auto;
    line-height: 1.6;
}

/* Skills Section */
.skills-section {
    padding: 60px 40px;
    background: #fafafa;
}

.skills-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

.card ul li {
    margin: 8px 0;
}

/* Projects Section */
.projects-section {
    padding: 60px 40px;
    background: white;
}

.project-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.project-card {
    background: #e3e3e3;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
}

/* Contact Section */
.contact-section {
    padding: 60px 40px;
    background: #fafafa;
    text-align: center;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #0077ff;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
footer p {
    margin: 0;
}